{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">NeigyGroup Miniaturas</h1>

        <h6 class="display-6 text-center">Quienes somos, que buscamos.</h6>

        <p>
            En un mundo cada vez más conectado, Neigy'Group pretende unir a los estados, las instituciones intermedias y
            las empresas que los conforman buscando lograr eficientemente los objetivos comunes, generando un
            crecimiento sostenido que eleve la calidad de vida.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                SignIn
            </a>
            <a class="btn btn-dark" href="/signup/">
                SignUp
            </a>

        </div>

    </section>
</main>
{% endblock%}